.GemList {
  padding: 0 20px;

  .gem-list {
    padding-left: 0;
    list-style: none;
  }

  .gem-empty-list {
    text-align: center;
    padding: 20px 0;
    
    border: 1px solid black;
    border-radius: 4px;
  }
}