.NavigationBar {
  display: flex;
  justify-content: space-between;

  padding: 10px 20px;

  .search-container {
    display: flex;
    
    .search-input {
      height: 26px;
      padding: 5px;
      margin-right: 5px;

      border: 1px solid #707070;
      border-radius: 3px;
      outline: none;
    }
  }
}