.App {
  .header {
    padding: 20px 0 10px;

    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  }
}