html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

.button {
  height: 26px;
  
  border: 1px solid #024fa1;
  border-radius: 4px;
  background-color: #0099ff;
  color: #ffffff;

  &:hover {
    background-color: #008cff;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &.small {
    height: 20px;
    font-size: smaller;
  }
}